*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfc1c1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}

header {
display: flex;
justify-content: space-between;
background-color: #777272;
align-items: center;
padding: 30px 30px:
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li, a, button {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

button {
    padding: 9px 25px;
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}






